<div class="alert alert-info ">

    <li>
        <p> Title: {{job_title}}</p>
        <p> Company: {{company_name}}</p>
        <p> Link:
            <a href="{{job_link}}">click here</a>
        </p>
    <button class="badge card-restore"  data-id={{id}} id="restore{{id}}" >restore</button>

    </li>
</div>

{{!-- 
{{#each user}}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{company_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{job_title}}</h6>
            <a href='{{job_link}}' class="card-link">Job Application</a>
            <a href='{{company_name}}' class="card-link">Company Website</a>
        </div>
    </div>

{{/each}} --}}