<div class="alert alert-info ">
    <span class="btn card-del" id="delete{{id}}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x</span>

    <li>
        <p> Title: {{job_title}}</p>
        <p> Company: {{company_name}}</p>
        <p> Link:
            <a href="{{job_link}}">click here</a>
        </p>
        <form id="control" method="PUT">
            <button type="submit" class="btn btn-primary backbtn" id="back{{id}}"  data-id={{id}}>back</button>
            <button type="submit" class="btn btn-primary nextbtn" id="next{{id}}"  data-id={{id}}>next</button>
        </form>
    </li>
</div>

{{!-- 
{{#each user}}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{company_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{job_title}}</h6>
            <a href='{{job_link}}' class="card-link">Job Application</a>
            <a href='{{company_name}}' class="card-link">Company Website</a>
        </div>
    </div>

{{/each}} --}}