
<div class="row top-nav">
    <nav class="nav">
        <span>
        </span>

    </nav>
</div>
<nav class="navbar bg-light navbar-light justify-content-between">
    <a class="navbar-brand" href= "/"><img src="assets/images/Project2logoversion2.png" alt="logo"></a>
    <button id = "login" class="btn btn-outline-success " data-target="#loginModal" type="submit" >Log in</button>

  </nav>

<div class="container_landing">

    <!-- a Bootstrap row with columns -->
    <div class="row">
        <!-- At large+ or medium screens takes up 2/3 width (8/12) small take full screen 12/12 -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id = "landingjumbotron" class="jumbotron jumbotron-fluid">
                <h2 class=""> Our website help users doing job search management and compare their performance to their cohort.</h2>
                <hr>
                <h4 class="text-center"> Sign up today to start job searching.</h4>
                <p class="text-center"><button id="signup" class="btn btn-outline-success" data-target="#signUpModal" type="submit">Sign Up</button></p>

            </div>
            <!-- sign-up log-in form popup here -->
			{{!-- sign-up form --}}
            <row>
                <div class="modal" tabindex="-1" id="signupModal" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Sign Up</h5>
                          <button type="button" id = "signupClose" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body">
                         {{!-- sign-up input form  --}}
						<form id="signupForm">
							<div class="form-group">
								<div class="form-group">
									<label class ="label-control" for="cohort">Select a Cohort if you belong to any or leave it as general</label>
									<select class="custom-select" id="cohort_name" >
										{{!-- <option>general</option>
										<option>TellmeTellme</option>
										<option>Farley's gang</option> --}}
                    {{#each cohorts}}
                      <option>
                          {{cohort_name}}
                      </option>
                    {{/each}}
									</select>
								</div>
								<label class ="label-control">User Name (unique id you use to log into our website)</label>
								<input placeholder="User Name" type="text" class="form-control" id="user_name">
								<br/>
								<label class ="label-control">First Name</label>
								<input placeholder="First Name" type="text" class="form-control" id="first_name">
								<br/>
								<label class ="label-control">Last Name</label>
								<input placeholder="Last Name" type="text" class="form-control" id="last_name">
								<br/>
								<label class ="label-control">Password (6-10 number or characters)</label>
								<input placeholder="Password" type="text" class="form-control" id="password">
			
							</div>
						</form>

                        </div>
                        <div class="modal-footer">
                          	<button type="submit" id="signup_btn" class="btn btn-success btn-outline-success submit">Submit</button>

                        </div>
                      </div>
                    </div>
                  </div>

            </row>

			{{!-- log-in form --}}
            <row>
                <div class="modal" tabindex="-1" id="loginModal" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class=" text-center modal-title">Log In</h5>
                          <button type="button" id = "loginClose" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body">
                          {{!-- log-in input form  --}}
						<form id="loginForm">
							<div class="form-group">
								<div class="form-group">
								</div>
								<label class ="label-control">User Name </label>
								<input placeholder="User Name" type="text" class="form-control" id="login_user_name">
								<br/>
								<label class ="label-control">Password </label>
								<input placeholder="Password" type="password" class="form-control" id="login_password">
							</div>
						</form>

                        </div>
                        <div class="modal-footer">
                          	<button type="submit" id="login_btn" class="btn btn-success btn-outline-success submit">Log In</button>
                        </div>
                      </div>
                    </div>
                  </div>

            </row>
        </div>

    </div>

</div>
</div>
<hr>


<!-- <footer >
    <p id="copyright">copy right joboboflow.com ©</p>
</footer> -->
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/images/icon-3.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Efficiency</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/icon-2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Comparison</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/icon-1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Result</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
<script src="assets/javascript/login_control.js"></script>
{{!-- handlebar pass variable quick reference --}}
{{!-- 
<div class = "row">

	<div class = "col-md-4 col-sm-4">
		<ul>
			{{#each cats}}
				{{#unless rescued}}
					<div class ="alert alert-info ">
						<li>
							<p> {{id}} : {{cat_name}}</p>
							<p> Put up for adoption at:<br>{{createdAt}}</p>
							
							<img src="assets/img/meow.png" width =80px alt="catbaby">
							<form id ="adoptCat"  method="POST">
							<input type="text" name="ownername" placeholder="Enter your name to adopt">

							<button type="submit" class = "btn btn-primary adpBtn" data-id={{id}}>Adpot Meow</button>
							</form>
						</li>
					</div>
				{{/unless}}
			{{/each}}
		</ul>
	</div>

</div> --}}
{{!-- <script type = "text/javascript">
$(function() {
	$("#signup").on("click",function(){
		$("#signupModal").show();
	});
	$("#signupClose").on("click",function(){
		$("#signupModal").hide();
	});
	$("#login").on("click",function(){
		$("#loginModal").show();
	});
	$("#loginClose").on("click",function(){
		$("#loginModal").hide();
	});


	//click on the addCat button event
	$("#addCat").on("submit",function(event){
		event.preventDefault();
		var catName = $("[name=catname]").val().trim();
		var newCatObj = {
			name:catName,
			rescued:0
		}
		console.log(newCatObj);
		$.post("/addcat",newCatObj)
		.then(function(){
			location.reload();
		});
	});

	//click on the adoptcat button
	$(".adpBtn").on("click",function(event){
		event.preventDefault();	
		var catid = $(this).data("id");  //grab the cat id from data attr assigned when render cat
		var newCatObj = {
			rescued:1,
		}
		console.log(newCatObj);
		//save owner info before update cat
		name = $("[name=ownername]").val().trim();
		$.post("/owner", { name: name }).then(function (backdata) {
			console.log("what iss backdata:  ",backdata);  //backdata is the previous post owner obj, we need the id
			var newCatObj = {
			rescued:1,
			OwnerId:backdata.id  //assign cat's foreignkey with the owner id
			}	//then update the cat
			$.ajax("/adpotcat/" + catid, {
				type: "PUT",
				data: newCatObj
			})
			.then(function () {
				console.log("changed adopted to", true);
				location.reload();
			});
		});

	});

})
</script> --}}

