 {{!--
<link rel="stylesheet" href="../assets/css/style.css"> --}}

<div class="row top-nav">
  <nav class="nav">
    <span>
    </span>

  </nav>
</div>
<nav class="navbar bg-light navbar-light justify-content-between">
  <a class="navbar-brand" href="/">
    <img src="assets/images/Project2logoversion2.png" alt="logo">
  </a>
  {{!-- <button id="login" class="btn btn-outline-success " data-target="#loginModal" type="submit">Job search</button> --}}
  <a href="/chart" id="data-visual" class="btn btn-outline-success "> Data Visualization</a>
</nav>

<div class="container_user_manage">

  <!-- a Bootstrap row with columns -->
  <div class="row">
    <!-- At large+ or medium screens takes up 2/3 width (8/12) small take full screen 12/12 -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="jumbotron jumbotron-fluid">
        <h3 class="text-center">Job management panel </h3>
        <hr>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="assets/images/applied-icon.png" alt="Card image cap">
            <span class="btn" id="newJob">
              <img class="card-img-overlay" height="80px" src="assets/images/add-icon.png" alt="Add new job">
            </span>
            <div class="card-body">
              <h5 class="card-title text-center">Applied Jobs</h5>
              <div class="col-md-12 col-sm-12">
                <ul>
                  {{#each jobs}} {{#unless hide}}{{#if loc1}}
      				<div class="alert alert-info ">
						<button class="btn card-del"  data-id={{id}} id="delete{{id}}">x</button>
					
						<li>
							<p> Title: {{job_title}}</p>
							<p> Company: {{company_name}}</p>
							<p> Link:
								<a href="{{job_link}}">click here</a>
							</p>
							<form id="control" >
								{{!-- <button type="submit" class="btn btn-primary backbtn" id="back{{id}}" data-loc="1" data-id={{id}}>back</button> --}}
								<button type="submit" class="btn btn-primary nextbtn" id="next{{id}}" data-loc="1" data-id={{id}}>next</button>
							</form>
						</li>
					</div>
                  {{/if}}{{/unless}}{{/each}}
                </ul>
              </div>
            </div>
            <div class="card-footer">
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/images/phone-icon.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Phone Interviews</h5>
              <div class="col-md-12 col-sm-12">
                <ul>
                  {{#each jobs}} {{#unless hide}}{{#if loc2}}
					<div class="alert alert-info ">
						<button class="btn card-del"  data-id={{id}} id="delete{{id}}">x</button>
					
						<li>
							<p> Title: {{job_title}}</p>
							<p> Company: {{company_name}}</p>
							<p> Link:
								<a href="{{job_link}}">click here</a>
							</p>
							<form id="control" method="PUT">
								<button type="submit" class="btn btn-primary backbtn" id="back{{id}}" data-loc="2" data-id={{id}}>back</button>
								<button type="submit" class="btn btn-primary nextbtn" id="next{{id}}" data-loc="2" data-id={{id}}>next</button>
							</form>
						</li>
					</div>
                  {{/if}}{{/unless}}{{/each}}
                </ul>
              </div>
            </div>
            <div class="card-footer">
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="assets/images/on-site-icon.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">On-site Interviews</h5>
				<div class="col-md-12 col-sm-12">
					<ul>
					{{#each jobs}} {{#unless hide}}{{#if loc3}}
					<div class="alert alert-info ">
						<button class="btn card-del"  data-id={{id}} id="delete{{id}}">x</button>
					
						<li>
							<p> Title: {{job_title}}</p>
							<p> Company: {{company_name}}</p>
							<p> Link:
								<a href="{{job_link}}">click here</a>
							</p>
							<form id="control" method="PUT">
								<button type="submit" class="btn btn-primary backbtn" id="back{{id}}" data-loc="3" data-id={{id}}>back</button>
								<button type="submit" class="btn btn-primary nextbtn" id="next{{id}}" data-loc="3" data-id={{id}}>next</button>
							</form>
						</li>
					</div>
					{{/if}}{{/unless}}{{/each}}
					</ul>
				</div>
            </div>
            <div class="card-footer">
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/images/outcome-icon.png" alt="Card image cap">
            <span class="btn" id="trash">
              <img id= "trashcan" class="card-img-overlay" height="80px" src="assets/images/trashcan.png" alt="Add new job">
            </span>
            <div class="card-body">
              <h5 class="card-title text-center">Offers</h5>
				<div class="col-md-12 col-sm-12">
					<ul>
					{{#each jobs}} {{#unless hide}}{{#if loc4}}
					<div class="alert alert-info ">
						<button class="btn card-del" data-id={{id}} id="delete{{id}}">x</button>
					
						<li>
							<p> Title: {{job_title}}</p>
							<p> Company: {{company_name}}</p>
							<p> Link:
								<a href="{{job_link}}">click here</a>
							</p>
							<form id="control" method="PUT">
								<button type="submit" class="btn btn-primary backbtn" id="back{{id}}" data-loc="4" data-id={{id}}>back</button>
								{{!-- <button type="submit" class="btn btn-primary nextbtn" id="next{{id}}" data-loc="4" data-id={{id}}>next</button> --}}
							</form>
						</li>
					</div>
					{{/if}}{{/unless}}{{/each}}
					</ul>
				</div>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
      {{!-- revise below for job add form --}}
      <row>
        <div class="modal" tabindex="-1" id="addjobModal" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add new job</h5>
                <button type="button" id="addjobClose" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                {{!-- sign-up input form --}}
                <form id="addjobForm">
                  <div class="form-group">
                    <label class="label-control">Company Name</label>
                    <input placeholder="Company Name" type="text" class="form-control" id="company_name">
                    <br/>
                    <label class="label-control">Job Title</label>
                    <input placeholder="Job Title" type="text" class="form-control" id="job_title">
                    <br/>
                    <label class="label-control">Job Link</label>
                    <input placeholder="Job Link" type="url" class="form-control" id="job_link">

                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="submit" id="addjob_btn" class="btn btn-success btn-outline-success submit">Submit</button>

              </div>
            </div>
          </div>
        </div>

      </row>

      {{!-- trashcan feature --}}
      <row>
        <div class="modal" tabindex="-1" id="trashModal" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Trash Can</h5>
                <button type="button" id="trashModalClose" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
              {{!-- old deleted job card here                 --}}
              {{#each jobs}} {{#if hide}}
               {{>job-block}}
              {{/if}}{{/each}}
              </div>

            </div>
          </div>
        </div>

      </row>
    
      

    </div>

  </div>

</div>
</div>
<hr>


<!-- <footer >
    <p id="copyright">copy right joboboflow.com ©</p>
</footer> -->

<script src="assets/javascript/dashboard_control.js"></script> 